ion-progress-bar {
  --background: #959595;
  width: 100%;
  height: 12px;
  border-radius: 10px;
}

ion-progress-bar::part(progress) {
  background: linear-gradient(180deg, #00FFE6 0%, #00BABA 100%) 0% 0% no-repeat padding-box;
}
