$text-sizes: (
  8: 8px,
  10: 10px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  17: 17px,
  18: 18px,
  19: 19px,
  20: 20px,
  21: 21px,
  22: 22px,
  23: 23px,
  24: 24px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  29: 29px,
  30: 30px,
  32: 32px,
  34: 34px,
  38: 38px,
  40: 40px,
  42: 42px,
  48: 48px,
  50: 50px,
  52: 52px,
  56: 56px,
  62: 62px,
  64: 64px,
  65: 65px,
  72: 72px,
  86: 86px,
);

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  // .title {
  //   font-size: 16pt !important;
  // }

  // .header {
  //   font-size: 22pt !important;
  // }

  // .sub-header {
  //   font-size: 22pt !important;
  // }

  // .body {
  //   font-size: 15pt !important;
  // }

  // .coins-streaks {
  //   font-size: 15pt !important;
  // }
}

@media (min-width: 576px) {
  //
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  //
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  //
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  //
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  //
}

$font-weights: (
  'thin': 100,
  'extra-light': 200,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
  'bold': 700,
  'extra-bold': 800,
  'black': 900,
  'italic': italic,
);

$line-hights: (
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  26: 26px,
  28: 28px,
  30: 30px,
  32: 32px,
  34: 34px,
  36: 36px,
  38: 38px
);

@each $name, $size in $text-sizes {
  .fsize-#{$name} {
    font-size: #{$size} !important;
  }
}

@each $name, $size in $text-sizes {
  .size-#{$name} {
    font-size: #{$size} !important;
  }
}

@each $name, $font-weight in $font-weights {
  .fw-#{$name} {
    font-weight: #{$font-weight} !important;
  }
}

@each $name, $lheight in $line-hights {
  .lheight-#{$name} {
    line-height: #{$lheight};
  }
}