.box{
  background: #595d638a;
  border-radius: 12px;
  height: auto;
}

.w-exactly-95{
    width: 95%;
}

.looks-disabled{
  opacity: 0.5;
  pointer-events: none;
}

.self-icon{
   width: 212px;
    height: 99px;
}